@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v25-latin-ext_latin-regular.woff2') format('woff2'), 
       url('../fonts/nunito-v25-latin-ext_latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v25-latin-ext_latin-700.woff2') format('woff2'), 
       url('../fonts/nunito-v25-latin-ext_latin-700.woff') format('woff'); 
}


*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

.container{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

ul,li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

// dark mode style lari

.dark{
  background-color: #000;
  color: #fff;
}

.darks{
  background-image: url(.././images/bg-dark.png);
  background-repeat: no-repeat;
}